<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg tmgreen" style="font-size:15px;">
    <div class="container-fluid">
      <a id="logo" class="navbar-brand" href="#" style="color: white;font-size: 25px; ">Treemap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top: 3px">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: white">Home</a>
          </li>
          {% if not current_user.is_authenticated %}
          <li class="nav-item" style="margin-left:20px;">
            <a class="nav-link" href="/login" style="color: white">Login</a>
          </li>
          {% endif %}
          <li class="nav-item" style="margin-left:20px;">
            <a class="nav-link" href="/gallery" style="color: white">Gallery</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item" style="margin-left:20px;">
            <a class="nav-link" href="/my-gallery" style="color: white">Mine</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  <div class="container text-center">

    <div class="clearfix">

      <div class="row">
        <div class="col" style="margin-top: 50px;"><p><h1 style="color:#14a800">Lightweight mindmaps for people that love simplicity.</h1></p>
      <div class="col" style="margin-left: -100px;"><img src="{{ url_for('static',filename='img/img1.png') }}" class="img-fluid" alt="..."></div>
      </div>
    </div>

<p style="font-size: 13px;">
  With simplicity, we aim to bring energy efficiency into the industry, so that we contribute to the climate crisis challenges everyone faces.
</p>


      <div class="row justify-content-md-center" style="margin-top: 100px">
      <div class="col-md-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" style="color: #14a800">Simplicity</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">easy to onboard</h6>
            <p class="card-text">It is easy to jump on Treemap for the first time.
              Most of the time, Mindmaps are lightweight and don't require 1000 branches, even though
              our solution supports many branches at different levels.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" style="color: #14a800">Security</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Security first</h6>
            <p class="card-text">
              For private lightweight mindmap we make sure that they are stored securely in the Cloud.
              Any private data will face the same sort of strategy.
              Security first.
            </p>
          </div>
        </div>
      </div>
        <div class="col-md-2">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="color: #14a800">Security</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Security first</h6>
              <p class="card-text">
                For private lightweight mindmap we make sure that they are stored securely in the Cloud.
                Any private data will face the same sort of strategy.
                Security first.
              </p>
            </div>
          </div>
        </div>
    </div>
<div class="row">
<div class="col" style="margin-top: 100px;">
  <img src="{{ url_for('static',filename='img/img4.png') }}" class="img-fluid" alt="...">
</div>
</div>

      <div class="row">
      <div class="card mb-2" style="margin-top: 100px;">
        <div class="card-body">
          <h5 class="card-title" style="color: #14a800">Green computed solution</h5>
          <p class="card-text">Our software is energy efficient,
            which means we optimize our energy consumption to the maximum and we produce the least.</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
      </div>

      <img src="{{ url_for('static',filename='img/img6.png') }}" class="card-img-top" alt="..." style="margin-top: 100px; width:800px;">


      <div class="row">
        <div class="card mb-2" style="margin-top: 100px;">
          <div class="card-body">
            <h5 class="card-title" style="color: #14a800">Green computed solution</h5>
            <p class="card-text">Our software is energy efficient,
              which means we optimize our energy consumption to the maximum and we produce the least.</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
          </div>
        </div>
      </div>


    <div class="row justify-content-md-center"  style="margin-top: 60px;">
      <div class="col-md-2">

        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='img/img1.png') }}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Free</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">You can create an unlimited number of mindmaps</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>

        </div>

      </div>
      <div class="col-md-2">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='img/img1.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Free</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">You can create an unlimited number of mindmaps</li>
            <li class="list-group-item">You can create an unlimited number of private minmaps</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

        <div class="col-md-2">
          <div class="card" style="width: 18rem;">
            <img src= "{{ url_for('static',filename='img/img1.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Free</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">You can create an unlimited number of mindmaps</li>
              <li class="list-group-item">You can create an unlimited number of private minmaps</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
  </div>


    </div>

  <div class="container" style="margin-top: 100px;">
    <footer class="py-3 my-4" style="background-color: white;margin-top:100px;position:absolute; width: 1300px;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
  </div>

  </div>
</body>
</html>
